extends ../layout/general
block Content
    if !contact
        p No contact found!
    else
        h3 Contact Update
        form(action="", method="post")
            label(for="") Name
            input(type="text", name="name", value=contact.name)
            label(for="") Phone
            input(type="number", name="phone", value=contact.phone)
            //- img(src="#{contact.avatar}", alt="", srcset="")
            img(src="" + contact.avatar, alt="logo")
            label(for="") Avatar
            input(type="text", name="")
            input(type="submit", value="Update")
        a(href="#") Delete
        a(href="#") Cancel


