extends ../layout/general
block Content
    link(rel="stylesheet", href="/css/contact/update.css")
    .container.content
        form(action="", method="post", enctype="multipart/form-data")
            .row
                .col.left-side
                    label(for="") Name
                    input(type="text", name="name", value=contact.name)
                    br
                    label(for="") Phone
                    input(type="number", name="phone", value=contact.phone)
                .col.right-side
                    img(src=contact.avatar, alt="avatar")
                    br
                    input(type="file", name="avatar", value=contact.avatar)
            .center
            input(type="submit", value="Update")
            a.badge.badge-danger(href="/contacts/delete/" + contact._id) Delete
            a.badge.badge-secondary(href="/contacts") Cancel


