*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
input[type="text"], input[type="password"], input[type="number"]{
    margin: 0.5rem;
    padding: 0.5rem;
    border-radius: 5px;
}
input[type="submit"]{
    background-color: #21ca21;
    color: white;
    border-radius: 5px;
    padding: 0.5rem 3rem;
    margin: 1rem 0;
    border: none;
}