body{
    display: flex;
    align-items: center;
}
.content{
    padding: 1rem 0;
    text-align: center;
}
.content .left-side, .right-side{
    padding: 2rem 0;
}
.content .right-side input[type="file"]{
    margin: 0 1rem;
}
.content .center a{
    margin: 0 1rem;
    padding: 0.7rem 2rem;
    font-size: 1rem;
}